{{ $cover_src := .Params.bookcase_cover_src | default .Params.bookcase_cover_src_dark }}
{{ $cover_src_dark := .Params.bookcase_cover_src_dark | default .Params.bookcase_cover_src }}

<div class="bookcase-item">
    <figure>
        <img src="{{ $cover_src | relURL }}" class="bookcase-item-img-light">
        <img src="{{ $cover_src_dark | relURL }}" class="bookcase-item-img-dark">
        <a href="{{ .RelPermalink }}" class="bookcase-item-overlay"></a>
    </figure>
    <figcaption>
        <a href="{{ .RelPermalink }}"><b>{{ .Title }}</b></a>
        <p><i> {{ .Date.Format "2006/01/02" }} </i></p>
        <p><i> {{ .Description }} </i></p>
    </figcaption>
</div>
