html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
  font-family: lucida bright;
}

code, kbd, pre {
  font-family: ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,liberation mono,courier new,monospace;
}


body {
  line-height: 1.4;
  margin-left: 0;
  margin-right: 0;
  
  .grid-container-element {
		display: grid;
		grid-template-columns: 7fr 1fr 1fr;
		grid-gap: 0px;
		width: 100%;
		}
  .grid-child-element {margin: 1px;}  //border: 1px solid black;
 

}


main {
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  text-align: justify;
  padding: 1rem 1rem;
  .grid-container-element {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1.5fr 1fr;
		grid-gap: 0px;
		margin: 1rem 0;
		text-align: left;
		}
  .grid-icon-element {margin: 1px; 
        
  		img {filter: drop-shadow( -2px 2px  #999);} 
  		&:hover{img {filter: drop-shadow( -3px 4px  var(--color-id));}}}
  .grid-child-element {
  		margin: 20px; 
          }  
    
  
}

// ICON

.shadow {filter: drop-shadow( -2px 2px  #999);}
.shadow:hover {filter: drop-shadow( -3px 4px  var(--color-id));}

// IFRAME

iframe {
box-shadow: -3px 4px  #999;
}

// HEADER & FOOTER

header2 {margin-top:1rem;}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
  
  .brand {
    display: flex;
    align-items: center;
    a {@include text-3xl; @include font-bold; color: var(--color-text);}
    #sidebar_btn {display: flex;
      margin-right: 0.5rem;
      @media screen and (min-width: $md_min_width) {display: none;}
    }
  }

  .toolbox {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;

    .toolbox-btn {
      display: flex;
      cursor: pointer;
      &:hover {color: var(--color-text-secondary);svg{stroke:var(--color-id)}}
    }

    .dropdown-wrapper {
      .dropdown-btn.pure-menu-link {color: unset;
      }
      .dropdown-btn {
        display: flex;
        align-items: center;
        padding: 0;
        &:hover {background-color: unset; svg{stroke:var(--color-id)}}
        &::after {content: ""; padding: 0;}
        .dropdown-desc {@include text-sm; margin-left: 0.35rem;}
      }
    }
  }
}



footer{
  @include text-xs;
  color: var(--color-text);
  

  .grid-container-element {

  max-width: 1400px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 0.2fr;
  grid-gap: 10px;
   justify-content: center;
		
    
		}
  .grid-child-element {
  	
  		margin: 10px; 
  		a{--color-link:var(--color-text); font-weight: 1000;}
  		h3 { border-bottom: 6px solid transparent; border-bottom-color: var(--color-id);}
  		}
	
}

// TITLE & SUBTITLE

h1, h2, h3, h4, h5, h6 {
  @include font-bold;
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-family: Nocturne-Serif;
  text-align: left;
}


h1 {
  @include text-3xl;
  font-size: 2em;
  line-height:1;
}

h2 {
  @include text-2xl;
  font-size: 1.5em;
  color: var(--color-id); 
}

h3 {
  @include text-xl; 
}

h4 {
  @include text-lg;
  color: var(--color-id);
}

h5 {
  @include text-base;
}

h6 {
  @include text-sm;
}

// BLOCKQUOTE


blockquote{
  font-size: 1.1em;
  width:90%;
  margin:0px 0px 0px 0px;
  font-style:italic;
  color: var(--color-text);
  padding:0.1em 30px 0.1em 30px;
  border-radius: 4px;
  border-left:8px solid var(--color-id) ;
  line-height:1.4;
  position: relative;
  background:var(--color-background-card);
}



// BLOCK

.cite{
  font-size: 0.9em;
  width:85%;
  text-align: justify;
  font-style:italic;
  color: var(--color-text);
  position: relative;
  
}

.cite::before{
  content: "\201C";
  color:var(--color-id);
  font-size:4em;
  position: absolute;
  left: -30px;
  top:-20px;
}

.cite::after{
  content: "\201E";
  color:var(--color-id);
  font-size:4em;
  position: absolute;
  bottom: -20px;
  right:-30px;
}

.cite span{
  display:block;
  color:var(--color-text);
  font-style: normal;
  text-align:left;
  margin-top:1em;
}


// BUTTON 


.button {
  display: inline-block;
  border-radius: 16px;
  background-color: var(--color-button);
  border: 2px solid transparent; 
  color: #000000;
  text-align: center;
  font-size: 16px;
  vertical-align:middle;
  padding: 6px;
  --color-link:#000000;
  font-weight: 700;
  transition: all 0.5s;
  cursor: pointer;
  box-shadow: -3px 4px  var(--color-button-shadow);
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.3s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.3s;
}

.button:hover span {
  padding-right: 25px;
  color:#ffffff;
  --color-link:#ffffff;
  font-weight: 700;
}

.button:hover {background-color: var(--color-id);}
.button:hover span:after {opacity: 1;right: 0;}
.button:active {background-color: #9b402d;box-shadow: 0 5px #666;transform: translateY(4px);}


// Ressource button


.ressource-layout {
  
    display: grid;
    min-width:260px;
    max-width:1;
    grid-template-columns: repeat(auto-fit, 16rem);
    grid-gap: 1rem;
    justify-content: center;
  
    
 
  .ressource-item {
    justify-self: center;
    figure {position: relative;align:center;}

    figcaption {
      @include text-sm;
      text-align: center;
      margin-top: .7rem;
      @include text-3xl;
  	  font-size: 2em;
  	  line-height:1;
  	  font-weight: 700;
      a {color: var(--color-text);}
    }

    img, .ressource-item-overlay {
      width: 16rem;
      height: 12rem;
      border-radius: 0.375rem;
      box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
      object-fit: cover;
      box-shadow: -3px 4px  #999;
    }

    .ressource-item-overlay {
      position: absolute;
      top: 0;
      left: 0;
      background-color: transparent;
      opacity: 0.25;
      &:hover {background-color: var(--color-id);}
    }
  }
}

html[data-theme="light"] {.ressource-item-img-dark { display: none;}}
html[data-theme="dark"] {.ressource-item-img-light {display: none;}}

// FIGURE & IMAGE

figure {
  margin: 0;
}

img {
  max-width: 100%
}

img.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

code{
	color: var(--color-code);
}

.code {
  color: var(--color-code);
  background-color: var(--color-background-inline-code);
  padding: 2px;
  font-size: 105%;
}

pre {
  color: var(--color-code);
  background-color: var(--color-graph);
}

.graph {
	max-width: 80%;
	border-radius: 6px;
	background-color: var(--color-graph);
}

input {
  background-color: var(--color-background);
  color: var(--color-text);
  border: none;
}

mark {
  background-color: var(--color-background-mark);
}

details > summary {
  cursor: zoom-in;
}

details[open] > summary {
  cursor: zoom-out;
}

.content-margin {
  @include my-8;
}

.hidden {
  display: none;
}

@media screen and (min-width: $sm_min_width) {
  main {
    width: $sm_main_width;
  }
}

@media screen and (min-width: $md_min_width) {
  main {
    width: $md_main_width;
  }
}

@media screen and (min-width: $lg_min_width) {
  main {
    width: $lg_main_width;
  }
}

@media screen and (min-width: $xl_min_width) {
  main {
    width: $xl_main_width;
  }
}

@media screen and (min-width: $xxl_main_width) {
  main {
    width: $xxl_main_width;
  }
}

/*--------------
PAGESIZE INDICATOR
---------------*/
#page-size {
  font-family: var(--monospace);
  color: var(--color-primary);
  color: black;
  position: fixed;
  bottom: 5px;
  font-size: var(--font-small);
}

#back-to-top {
  font-family: var(--monospace);
  position: fixed;
  bottom: 10px;
  right: 10px;
}


