$gray-0: #EDEBDD;
$gray-50: #E6DDA9;

$gray-100: #f5f5f5;
$gray-150: #ededed;
$gray-200: #e5e5e5;
$gray-250: #dddddd;
$gray-300: #d4d4d4;
$gray-350: #bcbcbc;
$gray-400: #a3a3a3;
$gray-450: #8b8b8b;
$gray-500: #737373;
$gray-550: #636363;
$gray-600: #525252;
$gray-650: #494949;
$gray-700: #404040;
$gray-750: #333333;
$gray-800: #262626;
$gray-850: #1f1f1f;
$gray-900: #171717;
$gray-1000: #000;

$footer-light: #000;
$footer-dark: #171717;

$header-light: #233333;

$id-light: #b46e60;
$id-dark: #44cdd1;




html[data-theme="light"] {
  --color-text: #{$gray-750};
  --color-text-secondary: #{$gray-500};
  --color-text-footer: #{$gray-500};
  --color-border: #{$gray-800};
  --color-border-collapsible-menu: #{$id-light};

  --color-background: #{$gray-100};
  --color-background-hover: #{$gray-200};
  --color-background-inline-code:#{$gray-250} ;
  --color-code: #{$gray-750};
  --color-background-card: #{$gray-200};
  --color-background-overlay: #{$id-light};
  --color-background-mark:  #{$gray-200};
  --color-block: #{$gray-750};
  --color-link: #2563eb;
  --color-navbar-item-inactive: #{$gray-900};
  --color-navbar-item-active: #{$id-light};
  --color-navbar-item-in-section: #{$gray-600};
  --color-footer: #{$footer-light};
  --color-id: #b46e60;
  
  --color-graph: none;
  --color-graph-border: none;
  --color-button: #{$gray-200};
  --color-button-shadow: #{$gray-500};
}

html[data-theme="dark"] {
  --color-text: #{$gray-150};
  --color-block: #b46e60;
  --color-text-secondary: #{$gray-150};
  --color-text-footer: #{$gray-400};
  --color-footer: #{$footer-dark}
  --color-border: #{$gray-500};
  --color-border-collapsible-menu: #{$id-dark};
  --color-background: #{$gray-850};
  --color-background-hover: #{$gray-600};
  --color-background-overlay:#{$id-dark};
  --color-background-inline-code: #{$gray-600};
  --color-code: #{$gray-150};
  --color-background-card: #{$gray-750};
  --color-background-mark: #{$gray-650};
  --color-link: #93c5fd;
  --color-navbar-item-inactive: #{$gray-100};
  --color-navbar-item-active: #{$id-dark};
  --color-navbar-item-in-section: #{$gray-250};
  --color-id: #44cdd1;
  --color-graph: #{$gray-300};
  --color-button: #{$gray-300};
  --color-button-shadow: #{$gray-500};
}

// Default color settings

html {
  color: var(--color-text);
  background: var(--color-background);
  font-size: 16px;
}

a {
  color: var(--color-link);
  text-decoration: none;
}

// Bonus

.sty-dark{}
.sty-light{}


html[data-theme="dark"] {
	.sty-dark {display: none;}
	}
html[data-theme="light"] {
	.sty-light {display: none;}
	}

