$sm_min_width: 35.5rem;
$md_min_width: 48rem;
$lg_min_width: 64rem;
$xl_min_width: 80rem;
$xxl_min_width: 120rem;

$sm_main_width: 100%;
$md_main_width: 80%;
$lg_main_width: 60%;
$xl_main_width: 60%;
$xxl_main_width: 60%;
