#TableOfContents {
  line-height: 1.5rem;

  ul, li {
    list-style: none;
    padding-left: 0;
    margin: 0;
    
  }
  a {font-weight: 700;}
  ul ul a {font-weight: 300;}
  ul ul {
    margin-left: 1.5rem;
    font-style: italic;
    font-weight: 300;
  }

  li {
    margin-top: .375rem;
  }

  a {
    color: var(--color-text);
  }
  a:hover {border-bottom: 4px solid var(--color-border-collapsible-menu);color:var(--color-border-collapsible-menu)}
}

article#collapsible_menu_changelogs {
  line-height: 1.75rem;
  display: grid;
  gap: .5rem;
  grid-template-columns: max-content 1fr;
  margin-top: .5rem;
}

.collapsible-menu-wrapper {
  @include my-8;
  font-size: 0.875rem;
  padding: 1rem;
  border: 4px solid var(--color-border-collapsible-menu);
  
  border-radius: .25rem;

  .collapsible-menu-type {
    span {
      @include font-bold;
      line-height: 1.5rem;
      font-size: 1.2rem;
    }
  }
  summary.collapsible-menu-type {
    span {
      margin-left: .3rem;
      
    }
    
  }

  .collapsible-menu {
    margin-left: .5rem;
  }
}


	
.collapsible-menu-wrapper-source {
  @include my-8;
  font-size: 0.875rem;
  padding: 1rem;
  border: 2px solid black;
  border-radius: .25rem;
  
  .collapsible-menu-type {
    span {@include text-2xl;font-size: 1.5em;color: var(--color-id); line-height: 1.5rem;}
    }

  summary.collapsible-menu-type {
    span {margin-left: .3rem;cursor: pointer;}
    span:hover {border-bottom: 4px solid var(--color-border-collapsible-menu);color:var(--color-border-collapsible-menu)}
    
    
    
    collapsible-menu.active { border: 2px solid black; }
  }

  .collapsible-menu {
    margin-left: .5rem;
  }
}


