#navbar {

	
  @media screen and (max-width: $md_min_width) {
    display: none;
  }

  > ul.pure-menu-list {
    display: flex;

    .navbar-dropdown {
      > a.pure-menu-link:after {
        content: "▾";
      }

      > ul.pure-menu-children {
        left: 0;
        top: 27px;
        width: inherit;
      }
    }

    .navbar-item {
      margin: 1.3rem 2rem 0 0;
      padding-bottom: .3rem;
      border-bottom: 6px solid transparent;
      

      > a.pure-menu-link {
        @include font-medium;
        font-size: 1.5em;
        padding: 0;
        color: var(--color-navbar-item-inactive);

        &:hover {
          background-color: transparent;
          
        }
      }

      &:hover {
        border-bottom-color: var(--color-id);
        

        > a {
          color: var(--color-id);
        }
      }
    }

    .navbar-item.active {
      border-bottom-color: var(--color-navbar-item-active);

      > a {
        color: var(--color-navbar-item-active);
      }
    }

    .navbar-item.insection {
      border-bottom-color: var(--color-navbar-item-in-section);

      > a {
        color: var(--color-navbar-item-in-section);
      }
    }
  }
}
