#sidebar_canvas_overlay {
  background-color: rgba(0,0,0,.75);
  position: fixed;
  top: 20;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 20;
  background-color: var(--color-background);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  transform: translateX(0);
  transition: transform 0.2s;
  overflow-y: auto;
  width: 60%;
 
  @media screen and (min-width: $sm_min_width) {
    width: 40%;
  }
  
  

  ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
    }
   
  

  summary span {
    margin-left: .2rem;
  }

  li {
    margin: 1.2rem;
  }
  

  a {
    color: var(--color-text);
  }
  a:hover{border-left:4px solid var(--color-id) ;color: var(--color-id); padding:5px}
}

#sidebar.close {
  display: block;
  transform: translateX(-100%);
}
