{{ with (.Scratch.Get "params").footer }}
<footer>
    <div align="right" class=sty-light id=back-to-top><a id="" href="#top" title="Back to top" style="font-size:40px; color:white; align:right"> ↑ </a></div>
    <div align="right" class= sty-dark id=back-to-top><a id="" href="#top" title="Back to top" style="font-size:40px; color:black; align:right"> ↑ </a></div>
  

    <article>{{- . | safeHTML -}}</article>
    <p align="center" class=sty-light><img src= "/images/index/footer-dark.png" width=120%/></p>
    <p align="center" class=sty-dark><img src= "/images/index/footer-ligh.png" width=120%/></p>
    
    <div class="grid-container-element">
            <div class="grid-child-element">
                <h3>License</h3>
                This blog's content is under license
       			<a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode"> CC-BY-SA 4.0 </a>
            </div>
            <div class="grid-child-element">
                <h3>Built</h3>
                Hosted by <a href="https://deuxfleurs.fr/"> Deux fleurs </a>
    			/ Powered by <a href="https://gohugo.io/getting-started/quick-start/"> Hugo </a>
    			/ Using a fork from <a href="https://kaiiiz.github.io/hugo-theme-monochrome/"> Monochrome </a>
    			theme
            </div>
            <div class="grid-child-element">
                <h3>Follow us !</h3>
                <a href="./index.xml" class=sty-light><svg id="rss_btn" class="toolbox-btn" height="30px" viewBox="0 0 24 24">{{- partial "svg/rss-light.svg" -}} </svg> </a>
                <a href="./index.xml" class= sty-dark><svg id="rss_btn" class="toolbox-btn" height="30px" viewBox="0 0 24 24">{{- partial "svg/rss.svg" -}} </svg> </a>
				&emsp;
    			<a href="mailto:guilwen@mailo.fr" class=sty-light><svg id="rss_btn" class="toolbox-btn" height="30px" viewBox="0 0 24 24">{{- partial "svg/mail-light.svg" -}}</svg> </a>
    			<a href="mailto:contact@wanderearth.fr" class= sty-dark><svg id="rss_btn" class="toolbox-btn" height="30px" viewBox="0 0 24 24">{{- partial "svg/mail.svg" -}}</svg> </a>
   				&emsp;
    			<a href="https://mastouille.fr/@Guilwen" class=sty-light><svg id="rss_btn" class="toolbox-btn" height="30px" viewBox="0 0 24 24">{{- partial "svg/mastodon-light.svg" -}}</svg> </a>
    			<a href="https://mastouille.fr/@Guilwen" class= sty-dark><svg id="rss_btn" class="toolbox-btn" height="30px" viewBox="0 0 24 24">{{- partial "svg/mastodon.svg" -}}</svg> </a>
       			&emsp;
    			<a href="./index.xml" class=sty-light><svg id="rss_btn" class="toolbox-btn" height="30px" viewBox="0 0 24 24">{{- partial "svg/instagram-light.svg" -}}</svg> </a>
    			<a href="./index.xml" class= sty-dark><svg id="rss_btn" class="toolbox-btn" height="30px" viewBox="0 0 24 24">{{- partial "svg/instagram.svg" -}}</svg> </a>
            </div>
            <div class="grid-child-element">
                <h3>Site low-tech</h3>
                 This site has been designed to consume as little energy as possible. It consumes <a href="https://www.websitecarbon.com/website/wanderearth-fr/" > 0.32 grams </a> of CO2 per visit...
            </div>
    </div>
</footer>
{{ end }}


    
