<header>
    <div class="toolbox">
      {{ if .Site.IsMultiLingual }}
            <div id="translation_tool" class="dropdown-wrapper pure-menu pure-menu-horizontal toolbox-btn">
                <ul class="pure-menu-list">
                    <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
                        <div class="dropdown-btn pure-menu-link">
                            
                            <svg width="36px" height="30px" viewBox="0 0 24 24">
                                {{- partial "svg/earth.html" -}}
                            </svg>
                            
                        </div>
                        <ul class="pure-menu-children">
                            {{ range .Site.Home.AllTranslations }}
                            <li class="pure-menu-item">
                                <a href="{{ .Permalink }}" class="pure-menu-link">{{ .Language.LanguageName }}</a>
                            </li>
                            {{ end }}
                        </ul>
                    </li>
                </ul>
            </div>
        {{ end }}
        
        <div id="theme_tool">
            <svg id="dark_mode_btn" class="hidden toolbox-btn" width="30px" height="30px" viewBox="0 0 24 24">
                {{- partial "svg/sun.html" -}}
            </svg>
            
            <svg id="light_mode_btn" class="hidden toolbox-btn" width="30px" height="30px" viewBox="0 0 24 24">
                {{- partial "svg/moon.html" -}}
            </svg>
        </div>

        {{ if (.Scratch.Get "params").enable_site_search }}
            <div id="search_tool">
                <svg id="search_btn" class="toolbox-btn" width="30px" height="30px" viewBox="0 0 24 24">
                    {{- partial "svg/search.html" -}}
                </svg>
                {{- partial "search-menu.html" -}}
            </div>
        {{ end }}
    </div>
</header>
