<header>
    <div class="brand">
        <div id="sidebar_btn">
            <svg id="menu_icon" width="26px" height="26px" viewBox="0 0 24 24">
                {{- partial "svg/menu.html" -}}
            </svg>
        </div>

        <div>
            <a class=sty-light href="{{ .Site.Home.RelPermalink }}"><svg id="title_img" width="100%"  viewBox="0 0 260 32">{{- partial "svg/title_dark.svg" -}}</svg></a>
            <a class=sty-dark href="{{ .Site.Home.RelPermalink }}"><svg id="title_img" width="100%"  viewBox="0 0 260 32">{{- partial "svg/title.svg" -}}</svg></a>
        </div>
    </div>
</header>


